<footer class="footer">
  <div class="container">
    <p class="copyright">PowerTeam © 2023</p>
    <nav class="footer_nav">
      <ul class="footer_list">
        <li>
          <a
            class="link_footer"
            href="http://beta.adalab.es/project-promo-s-module-1-team-2/#team"
            >EQUIPO</a
          >
        </li>
        <li>
          <a
            class="link_footer"
            href="http://beta.adalab.es/project-promo-s-module-1-team-2/#about-us"
            >QUIÉNES SOMOS</a
          >
        </li>
        <li>
          <a class="link_footer" href="./contact.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <a href="https://adalab.es/" target="_blank"
      ><img
        class="logo_adalab"
        src="./assets/images/logo-adalab.png"
        alt="logo Adalab"
    /></a>
  </div>
</footer>
