<header class="header">
  <a
    class="header--link"
    href="http://beta.adalab.es/project-promo-s-module-1-team-2/"
  >
    <h1 class="team_name">PowerTeam</h1>
  </a>
  <nav class="nav_container">
    <ul class="nav_list">
      <li>
        <a
          class="link_item"
          href="http://beta.adalab.es/project-promo-s-module-1-team-2/#team"
          >Equipo</a
        >
      </li>
      <li>
        <a
          class="link_item"
          href="http://beta.adalab.es/project-promo-s-module-1-team-2/#about-us"
          >Quienes somos</a
        >
      </li>
      <li><a class="link_item" href="./contact.html">Contacto</a></li>
    </ul>
  </nav>
</header>
