<article class="article">
  <img class="photo_member" src="@@photo_member" alt="member picture" />
  <div class="info_member">
    <h3 class="name_member">@@name_member</h3>
    <p class="description">@@description_member</p>
    <ul class="icon_list_member">
      <li class="icon_profile_member">
        <a href="@@link_twitter_member" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li class="dot">·</li>
      <li class="icon_profile_member">
        <a href="@@link_linkedin_member" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li class="dot">·</li>
      <li class="icon_profile_member">
        <a href="@@link_github_member" target="_blank">
          <i class="fa-brands fa-github-alt"></i>
        </a>
      </li>
      <li class="dot">·</li>
      <li class="icon_profile_member">
        <a href="@@link_mail_member" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</article>
