<section class="section_4" id="about-us">
  <div class="container">
    <h2 class="title_2">QUIÉNES SOMOS</h2>
    <!-- Bea article -->
    <include
      src="./member.html"
      photo_member="./assets/images/beaa.png"
      name_member="Bea Figueroa"
      description_member="Después de diversas experiencias en el mundo laboral y de unos
    estudios que nada tienen que ver con el sector tecnológico, he decido
    darle un cambio a mi vida y formarme en el mundo de la programación. Y
    aquí estoy, rodeada de estas estupendas mujeres para abrirnos paso en
    un mundo, hasta hace poco, desconocido para nosotras."
      link_twitter_member="https://twitter.com/arrobabarrabaja"
      link_linkedin_member="http://www.linkedin.com/in/bea-figueroa"
      link_github_member="https://github.com/beafig"
      link_mail_member="mailto:beafigueroa89@gmail.com?subject=Hola"
    ></include>

    <!-- Enrica article -->
    <include
      src="./member.html"
      photo_member="./assets/images/enrica.png"
      name_member="Enrica Garcia"
      description_member="Llevaba 8 años de experiencia en el mundo de la hostelería cuando descubrí mi verdadera vocación.

      Empecé a estudiar diseño UI UX para ser diseñadora web y es cuando mi curiosidad creció que me plantee una pregunta muy importante: ¿Qué puedo hacer para tener un perfil más completo?
      El mismo día me apunté a Adalab."
      link_twitter_member="https://twitter.com/enrica_garcia"
      link_linkedin_member="https://www.linkedin.com/in/enrica-garcia-69541a208/"
      link_github_member="https://github.com/ErriGarcia"
      link_mail_member="mailto:garcia.enricahabito@gmail.com?subject=Hola"
    ></include>

    <!-- Lau article -->
    <include
      src="./member.html"
      photo_member="./assets/images/lauracaurin1.png"
      name_member="Laura Caurín"
      description_member="Me he dedicado desde los 16 años a las artes escénicas, y aunque he podido disfrutar de este maravilloso mundo, a menudo puede ser muy inestable y empecé así a plantearme la idea de iniciar un proyecto con visión a futuro. La programación apareció en mi vida de casualidad y fue tal la motivación, que a los pocos meses me encontré haciendo las pruebas de selección de Adalab."
      link_twitter_member="https://giphy.com/gifs/hulu-nickelodeon-power-rangers-l0MYHpCZ9yxKXIsjC/fullscreen"
      link_linkedin_member="https://pbs.twimg.com/media/FnBbO0gWAAAyrPC?format=jpg&name=900x900"
      link_github_member="https://github.com/Laucaurin"
      link_mail_member="mailto:laura.caurin@gmail.com?subject=Hola"
    ></include>

    <!-- Monica article -->
    <include
      src="./member.html"
      photo_member="./assets/images/monica.jpeg"
      name_member="Mónica Saborido"
      description_member="Licenciada en Física empezando una nueva y emocionante etapa.
      Tras unos años de parentesis en el mundo de la informática por motivos de conciliación familiar,
      he decido reinventarme y dar un cambio radical a mi vida retomando una de mis grandes pasiones, 
      la programación."
      link_twitter_member="https://www.expacioweb.com/wp-content/uploads/2019/04/los-gifs-de-expacioweb-marta-1.gif"
      link_linkedin_member="http://www.dejarlotodoeirse.com/wp-content/uploads/2014/03/gif-no-no.gif"
      link_github_member="https://github.com/sabfiamo"
      link_mail_member="mailto:sabfiamo@gmail.com?subject=Hola"
    ></include>
  </div>
</section>
