<section class="section_2" id="team">
  <div class="container">
    <h2 class="title_2">EQUIPO</h2>
    <p class="description">
      "PowerTeam" es un equipo formado por 4 mujeres con profesiones muy
      distintas pero con una pasión y objetivo en común, adquirir los
      conocimientos y competencias necesarias para convertirse en programadoras
      profesionales. La suma de nuestras partes individuales genera al equipo
      diferentes perspectivas y enfoques que enriquecen nuestro aprendizaje en
      este gran viaje. Viaje que emprendemos juntas con especial motivación y
      respeto, pero sobre todo, con un gran apoyo mutuo como aliado. Nuestra
      dinámica de trabajo parte de una estrecha colaboración y comunicación,
      donde la responsabilidad individual y de equipo ha sido la clave para
      crear un espacio de trabajo agradable y orgánico, fomentando así que las
      tareas se gestionen y resuelvan de una manera eficiente.
    </p>
    <p class="description">
      “Make it easy” como filosofía. La tendencia para aumentar la complejidad a
      problemas o soluciones aparece a menudo, “hazlo fácil”, es un pensamiento
      que nos dirige de nuevo hacia lo sencillo, como dijo Leonardo da Vinci:
      "La simplicidad es la máxima sofisticación."
    </p>
    <div class="rectangle"></div>
  </div>
</section>
