<section class="section_3">
  <div class="container">
    <article class="article">
      <h2 class="title_2">Fortalezas</h2>
      <p class="description">
        Somos cuatro mujeres valientes y sin miedo a los cambios, prueba de ello
        es esta página web. Estamos orgullosas de nuestra capacidad de
        adaptación, pero sobre todo de nuestra capacidad de aprendizaje. Además
        descataría nuestro trabajo en equipo y buen entendimiento entre
        compañeras.
      </p>
    </article>
    <article class="article">
      <h2 class="title_2">Debilidades</h2>
      <p class="description">
        Una de las debilidades comunes del grupo es hablar en público. Gracias a
        la experiencia con Adalab somos capaces de hacer de nuestros puntos
        débiles puntos fuertes y mejorar cada día más.
      </p>
    </article>
  </div>
</section>
