$blue-green-color: #099d8d;
$grey-color: #b8b8b9;
$aqua: #14d9c4;
$white: white;
$dark-grey-color: #54585a;
$black-color: #000000;
$background-grey-color: #f1f1f1f1;
$black-8: rgba(0, 0, 0, 0.08);
$fontAwesome5ProSolid_regular_16: 16px "FontAwesome5ProSolid", sans-serif;
$fontAwesome5Brands_regular_16: 16px "FontAwesome5Brands", sans-serif;
$openSans_regular_20: 400 20px "Open Sans", sans-serif;
$openSans_regular_16: 400 16px "Open Sans", sans-serif;
$openSans_regular_14: 400 14px "Open Sans", sans-serif;
$openSans_regular_12: 400 12px "Open Sans", sans-serif;
$openSans_semibold_14: 600 14px "Open Sans", sans-serif;
$openSans_semibold_18: 600 18px "Open Sans", sans-serif;
$rubik_medium_15: 500 15px "Rubik", sans-serif;
$rubik_medium_22: 500 22px "Rubik", sans-serif;
$rubik_medium_24: 500 24px "Rubik", sans-serif;
$rubik_medium_16: 500 16px "Rubik", sans-serif;